*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background: #1e1e1e;
}
.btn{
    position: relative;
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
    cursor: pointer;
    padding: 10px 35px;
    overflow: hidden;
    border: 2px solid #5fe36a;
}
.btn::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: 0.7s ease;
    width: 100%;
    height: 100%;
    background-color: #5fe36a;
}
.b1::before{
    width: 0%;
    height: 110%;
}
.b1:hover::before{
    width: 110%;
}
.b2::before{
    width: 110%;
    height: 0%;
}
.b2:hover::before{
    height: 110%;
}
.b3::before{
    width: 110%;
    height: 0%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.b3:hover::before{
    height: 350%;
}
.b4::before{
    width: 110%;
    height: 0%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
.b4:hover::before{
    height: 350%;
}
.b5::before{
    width: 120%;
    border-radius: 400px;
    height: 0%;
}
.b5:hover::before{
    height: 350%;
}
