@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding: 20px 30px;
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logoBox{
    max-width: 100px;
}
.header .logoBox img{
    width: 100%;
}
.header .button{
    max-width: 50px;
}
.header .button img{
    width: 100%;
}
.content{
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 80vh;

    align-items: center;
}
.txtBox{
    max-width: 600px;
}
.txtBox h2{
    padding: 10px 10px;
    font-weight: 200;
    text-transform: uppercase;
    line-height: 1em;
    font-size: 3em;
    letter-spacing: 1px;
}
.txtBox h2 span{
    color: #ff0;
}
.txtBox p{
    padding: 10px;
    font-size: 1.1em;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.txtBox a{
    margin: 20px;
    cursor: pointer;
    position: relative;
    padding: 10px 30px;
    font-weight: 700;
    letter-spacing: 2px;
    z-index: 1;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    color: #000;
    background-color: #ff0;
    overflow: hidden;
    border: 2px solid #ff0;
}
.btn::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
    z-index: -1;
    transition: 0.7s ease;
    width: 100%;
    height: 100%;
    background-color: #070000;
}
.btn::before{
    width: 130%;
    height: 0%;
    transform: translate(-50%,-50%) rotate(45deg);
}
.btn:hover::before{
    height: 350%;
}
.btn:hover{
    color: #fff;
    transition: 1s ease;
}